<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="./scripts/conexao.js"></script>
        <link rel="stylesheet" href="../styleteste.css">
    </head>
    <body>
        <div id="content">
            <p>Cadastro para Teste</p>
            <div id="row">
                <div id="div-teste">
                    <form id="formTeste">
                        <label>Nome</label><br>
                        <input type="text" id="nome" name="nome"><br>

                        <label for="sobrenome">Sobrenome</label><br>
                        <input type="text" id="sobrenome" name="sobrenome"><br>
                        
                        <label for="telefone">Telefone</label><br>
                        <input type="number" id="telefone" name="telefone"><br>

                        
                        <label for="usuario">Usuario</label><br>
                        <input type="text" id="usuario" name="usuario"><br>

                        <label for="senha">Senha</label><br>
                        <input type="text" id="senha" name="senha"><br>

                        <input type="button" id="submitBT" onclick="enviarCadastro()" value="Submit">
                    </form>
                </div>

                <div id="div-tabela">
                    <div id="scroll-div">
                        <table id="cadastrados">
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Telefone</th>
                                <th>Usuario</th>
                                <th>Senha</th>
                                <th>Ativo</th>
                            </tr>
                        </table>
                    </div>    
                <div>
                    <button type="button" id="tabelaButton" onclick="requisicao('../tabela', atualizarTabela)">Atualizar</button>
                </div>
                </div>
            </div>
    </div>
    </body>
</html>
