<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Painel de Controle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../scripts/conexao.js"></script>
        <link rel="stylesheet" type="text/CSS" href="../styles/global.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="./painel.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    <script>validarToken()</script>
    <body>
        <div class="containerPainel">
            <header class="headerPage">
                <div class="containerLogo">
                    <img src="../assets/logo02.png" id="imagemLogo2">
                </div>
                <div class="containerNavButton">
                    <a onclick="showInicioDiv()" href="#" class="navButton">Inicio</a>
                    <a href="../estoque/estoque.html" class="navButton">Estoque</a>
                    <a href="../relatorio/relatorio.html" class="navButton">Relatório</a>

                </div>
                <div class="containerAction">
                    <button class="buttonLogout" type="button" onClick="logout()">Logout</button>
                </div>
            </header>
            <div class="containerPage">
                <div class="containerConteudo">
                    <div id="Agrupado" class="containerAgrupado">

                        <div class="titleLanchonete">
                            <h1 class="titlePage">Lanchonete Code Burguer's</h1>

                        </div>
                    <div class="containerGerenciador">
                        <div class="titleContainer">
                            <h1 class="legendTitle">Gerenciamento de serviços</h1>
                        </div>
                        <div class="containerButtons">
                            <button class="buttonGerenciador">Abrir <br> lanchonete</button>
                            <button class="buttonGerenciador">Fechar lanchonete</button>
                        </div>
                        
                    </div>
                    <div class="cadastroItems">
                        <div class="titleContainer">
                            <h1 class="legendTitle">Cadastro de Items</h1>
                        </div>
                        <div class="ButtonsGroupsCadastro">
                            
                            <div class="containerButtons1">
                                <button type="button" onclick="showCadLanches()" class="buttonGerenciador">Cadastrar Lanches</button>
                                <button class="buttonGerenciador" onclick="showCadFuncionario()">Cadastrar Funcionarios</button>
                            </div>
                            
                            <div class="containerButtons2">
                                <button onclick="showCadBebidaDiv()" class="buttonGerenciador">Cadastrar Bebidas</button>
                                <button onclick="showCadIngredienteDiv()" class="buttonGerenciador">Cadastrar Ingredientes</button>
                            </div>
                        </div>
                        
                        
                    </div>

                </div>

                <div id="CadIngredientes" class="containerCadItems">
                    <div class="titleCadPainel">
                        <h1 class="titlePage">Cadastro de Ingredientes</h1>
                    </div>

                    <div class="form">

                        <form id="addIngrediente" class="formItems">
                            
                            <input placeholder="Produto" class="TextInput" type="text" name="nome" required>
                            
                            
                            <select class="TextInput" name="tipo" required>
                                <option value="">Tipo</option>
                                <option value="pao">Pão</option>
                                <option value="carne">Carne</option>
                                <option value="queijo">Queijo</option>
                                <option value="molho">Molho</option>
                                <option value="vegetal">Vegetal</option></select>
                        
                                <input class="TextInput" placeholder="Quantidade" type="number" name="quantidade" required>
                                
                                <input class="TextInput" type="number" min="0.01" step="0.01" max="2500" value="00.00" placeholder="Valor de compra"  class="money2" name="ValorCompra" required/>
                                
                                <input class="TextInput" type="number" min="0.01" step="0.01" max="2500" value="00.00" placeholder="Valor de venda"  class="money2" name="ValorVenda" required/>
                                
                                <textarea id="textArea1" class="TextInput"  placeholder="Descrição" rows="4" cols="50" name="descricao"></textarea>
                                
                                <div class="buttonInputContainer">
                                    <input class="buttonSubmitCancel" type="button" onclick="showInicioDiv()" name="cancelar" value="Cancelar">
                                    <input class="buttonSubmitSalvar" type="button" onclick="salvarIngrediente()" name="salvar" value="Salvar">
                                </div>
                                
                            </form>
                        </div>
                            
                        </div>

                        <div id="CadBebidas" class="containerCadItems">
                            <div class="titleCadPainel">
                                <h1 class="titlePage">Cadastro de Bebidas</h1>
                            </div>
        
                            <div class="form">
        
                                <form id="addBebida" class="formItems">
                                    
                                    <input placeholder="Bebida" class="TextInput" type="text" name="nome" required>
                                    
                                    
                                    <select class="TextInput" name="tipo" required>
                                        <option value="">Tipo</option>
                                        <option value="alcoolica">Alcoólica</option>
                                        <option value="refrigerante">Refrigerante</option>
                                        <option value="suco">Suco</option>
                                        <option value="agua">Água</option>
                                        <option value="outros">Outros</option></select>
                                
                                        <input class="TextInput" placeholder="Quantidade" type="number" name="quantidade" required>
                                        
                                        <input class="TextInput" type="number" min="0.01" step="0.01" max="2500" value="00.00" placeholder="Valor de compra" class="money2" name="ValorCompra" required/>
                                        
                                        <input type="number" min="0.01" step="0.01" max="2500" value="00.00" class="TextInput" placeholder="Valor de venda"  class="money2" name="ValorVenda" required/>
                                        
                                        <textarea id="textArea2" class="TextInput"  placeholder="Descrição" rows="4" cols="50" name="descricao"></textarea>
                                        
                                        <div class="buttonInputContainer">
                                            <input class="buttonSubmitCancel" type="button" onclick="showInicioDiv()" name="cancelar" value="Cancelar">
                                            <input class="buttonSubmitSalvar" type="button" onclick="salvarBebida()" name="salvar" value="Salvar">
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                            <div id="CadFuncionarios" class="containerCadItems">
                                <div class="titleCadPainel">
                                    <h1 class="titlePage">Cadastro de Funcionários</h1>
                                </div>
            
                                <div class="form">
            
                                    <form id="addFuncionario" class="formItems">
                                        
                                        <input placeholder="Nome" class="TextInput" type="text" name="nome" required>
                                    
                                        <input class="TextInput" placeholder="Sobrenome" type="text" name="sobrenome" required>
                                            
                                        <input class="TextInput" type="text" placeholder="Usuário" name="usuarioFuncionario" required/>

                                        <input class="TextInput" type="password" placeholder="Senha" name="senhaFuncionario" required/>

                                        <input class="TextInput" type="text" placeholder="Cargo" name="cargo" required/>

                                        <input class="TextInput" type="text" placeholder="Salário" name="salario" required/>
                                            
                                                                                       
                                                                                        
                                            <div class="buttonInputContainer">
                                                <input class="buttonSubmitCancel" type="button" onclick="showInicioDiv()" name="cancelar" value="Cancelar">
                                                <input class="buttonSubmitSalvar" type="button" onclick="salvarFuncionario()" name="salvar" value="Salvar">
                                            </div>
                                            
                                        </form>
                                    </div>
                                        
                                    </div>

                    <footer  class="footerPainel">
                        <div class="StatusLanchonete">
                            <h1 class="legendStatus">Aberto agora!</h1>
                        </div>
                        
                    </footer>


                    <div id="CadLanches" class="containerCadItems">
                        <div class="titleCadPainel">
                            <h1 class="titlePage">Cadastro de lanches</h1>
                        </div>

                        <div class="containerGastos">
                            <div class="titleLucro">
                                <h1 class="titleContainerLucro">Preço do Lanche</h1>
                            </div>
                            <div class="LabelGastos">
                                <p style="color: white; margin-right:0.5vw;">R$</p>  <input class="inputPreco" id="ValorLanche" min="0.01" step="0.01" max="2500" value="00.00">
                            </div>
                        </div>
    
                        <div class="form">
    
                            <form id="addItem" class="formItems">
                                
                                <div class="containerInputs">
                                    <input placeholder="Nome" id="nomeLanche" class="TextInputLanche" type="text" name="nomeLanche" required>
                                    <select id="selectPao" class="TextInputLanche" name="tipoPao" required>
                                        <option value="">Escolha o pão</option>

                                    </select>
                                </div>                           
                                    <textarea id="textArea3" class="TextInput"  placeholder="Descrição" rows="4" cols="50" name="descricao"></textarea>
                                    <div class="containerTitlePageLanche">
                                        <h1 class="titleContainerLanche">Ingredientes</h1>
                                    </div>
                                <div id="ingredientes"></div>
                                    <div class="buttonInputContainer">
                                        <input class="buttonSubmitCancel" type="button" onclick="showInicioDiv()" name="cancelar" value="Cancelar">
                                        <input class="buttonSubmitSalvar" type="button" onclick="salvarLanche()" name="salvar" value="Salvar">
                                        
                                    </div>
                                    
                                </form>
                            </div>
                                
                            </div>





                <footer  class="footerPainel">
                    <div id="footerId" class="containerFooter">
                        <div id="statusId" class="StatusInfo">
                            <h1 class="legendStatusInfo">Valor gasto</h1>
                            <p class="legendStatusValue">R$ 20,00</p>
                        </div>
                        <div class="StatusLanchonete">
                            <h1 class="legendStatus">Aberto agora!</h1>
                        </div>
                        <div id="statusId2" class="StatusInfo2">
                            <h1 class="legendStatusInfo">Valor com lucro</h1>
                            <input class="inputValorLucro" type="text" value="R$ 10,00"/>
                        </div>
                    </div>
                </footer>
                </div>
            </div>
        </div>
    </body>
</html>