<html>

<head>
    <title>Carrinho</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/CSS" href="styles.css" />
    <link rel="stylesheet" type="text/CSS" href="../styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
    <script src="./carrinho.js"></script>
    <script src="../scripts/conexao.js"></script>
</head>
<script>
    validarToken();
    getUsuario();
</script>

<body onload="pegarPedidos()">

    <body>
        <div class="containerLogin">
            <header class="headerPage">
                <div class="containerLogo"><a href="../menu/menu.html">
                        <img src="../assets/logo02.png" id="imagemLogo2">
                    </a>
                </div>
                <div class="containerNavButton">

                </div>
                <div class="containerAction">
                    <button class="buttonLogout" type="button" onClick="logout()">Logout</button>
                </div>
            </header>
            <div class="containerPage">
                <div class="containerConteudo" id="conteudo1">
                    <div class="InformacoesPessoais">
                        <div class="nomeCliente">
                            <p class="legendInformacao" id="nome2"></p>
                        </div>
                        <div class="enderecoCliente">
                            <p class="legendInformacao" id="endereco2"></p>
                        </div>
                    </div>
                    <div class="containerTitle">
                        <h1 class="titleTypeContainer">Meus pedidos</h1>
                    </div>
                    <div class="containerPedidos">
                        <div class="itemPedidoContainer" id="containerPedido">

                        </div>
                        <div class="TotalCompraContainer">
                            <h1 class="labelTotal">Total</h1>
                            <p class="valuePedidos" id="valor1">0</p>
                        </div>
                    </div>
                    <div class="buttonInputContainer">
                        <input class="buttonSubmitCancel" type="button" onclick="window.location.replace('../menu/menu.html')" name="cancelar" value="Cancelar">
                        <input class="buttonSubmitSalvar" type="button" onclick="showConteudo2()" name="Metodopagamento"
                            value="Forma de pagamento">
                    </div>
                </div>
                <div class="containerConteudo2" id="conteudo2">
                    <div class="InformacoesPessoais">
                        <div class="nomeCliente">
                            <p class="legendInformacao" id="nome"></p>
                        </div>
                        <div class="enderecoCliente">
                            <p class="legendInformacao" id="endereco"></p>
                        </div>
                    </div>
                    <div class="containerResumo">
                        <div class="containerTitle2">

                            <h1 class="titleTypeContainer">Resumo</h1>
                        </div>
                        <div class="containerTextResumo">
                            <div class="legendResumoContainer">
                                <p class="legendResumo" id="textResumo"></p>
                            </div>

                            <div class="totalPedido">
                                <h1 class="titleValor">Valor total</h1>
                                <h3 class="valorCompra" id="valor2">0</h3>

                            </div>

                        </div>
                    </div>
                    <div class="containerTipoPagamento">
                        <div class="containerTitle2">
                            <h1 class="titleTypeContainer">Tipo de pagamento</h1>
                        </div>
                        <div class="chekPagamento">
                            <div class="pagCredito">
                                <input type="radio" class="typePagament" name="Pagamento" value="Crédito">
                                <labe>Crédito</labe>
                            </div>
                            <div class="pagDébito">
                                <input type="radio" class="typePagament" name="Pagamento" value="Débito">
                                <labe>Débito</labe>
                            </div>
                            <div class="pagDinheiro">
                                <input type="radio" class="typePagament" name="Pagamento" value="Dinheiro">
                                <labe>Dinheiro</labe>
                            </div>
                        </div>
                    </div>
                    <div class="containerReciboPedido">
                        <div class="containerTitle2">
                            <h1 class="titleTypeContainer">Receber o pedido</h1>
                        </div>
                        <div class="checkPedido">
                            <div class="pagDinheiro">
                                <input type="radio" class="typePagament" name="Entrega" value="Dinheiro">
                                <labe>Em casa</labe>
                            </div>
                            <div class="pagDinheiro">
                                <input type="radio" class="typePagament" name="Entrega" value="Dinheiro">
                                <labe>No estabelecimento</labe>
                            </div>
                        </div>
                        <button class="buttonSubmit" onclick="realizarCompra()">Finalizar</button>
                    </div>
                    <button class="buttonVoltar" onclick="showConteudo1()">Voltar para os <br>Pedidos</button>
                </div>
            </div>
        </div>
    </body>

</html>