<html>
    <head>
        <meta charset="UTF-8"/>
        <script src="../scripts/conexao.js"></script>
        <script src="./ingrediente.js"></script>
        <link rel="stylesheet" type="text/CSS" href="styles.css"/>
        <link rel="stylesheet" type="text/CSS" href="../styles/global.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="containerLogin">
            <header class="headerPage">
                <div class="containerLogo">
                    
                </div>
                <div class="containerNavButton">

                </div>
                <div class="containerAction">

                </div>
            </header>
            <div class="containerPage">
                <div class="containerConteudo">
                    <div class="iconArrow">
                        <a href="../menu/menu.html">
                            <img class="iconArrowLeft" src="../assets/keyboard.svg"/>
                        </a>     

                    </div>

                    <div>
                        <form id="addItem">
                            <div>
                                <label>Nome do Produto</label>
                                <input type="text" name="nome" required>
                            </div>
                            <div>
                                <label>Tipo</label>
                                <select name="tipo" required>
                                    <option value="">Tipo</option>
                                    <option value="1">Pão</option>
                                    <option value="2">Carne</option>
                                    <option value="3">Queijo</option>
                                    <option value="4">Molho</option>
                                    <option value="5">Vegetal</option></select>
                            </div>
                            <div>
                                <label>Quantidade</label>
                                <input type="number" name="quantidade" required>
                            </div>
                            <div>
                                <label>Valor de Compra</label>
                                <input type="number" min="0.01" step="0.01" max="2500" value="00.00" name="ValorCompra" required/>
                            </div>
                            <div>
                                <label>Valor de Venda</label>
                                <input type="number" min="0.01" step="0.01" max="2500" value="00.00" name="ValorVenda" required/>
                            </div>
                            <div>
                                <label>Descrição:</label><br>
                                <textarea rows="4" cols="50" name="descricao"></textarea>
                            </div>

                            <div> 
                                <input type="button" onclick="" name="cancelar" value="Cancelar">
                                <input type="button" onclick="salvarItem()" name="salvar" value="Salvar">
                            </div>
                        </form>

                    </div>

                </div>
                
            </div>
            
        </div>



    </body>
</html>