<html>
    <head>
        <title>Resumo</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/CSS" href="styles.css"/>
        <link rel="stylesheet" type="text/CSS" href="../styles/global.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="containerLogin">
            <header class="headerPage">
                <div class="containerLogo">
                    
                </div>
                <div class="containerNavButton">

                </div>
                <div class="containerAction">

                </div>
            </header>
            <div class="containerPage">
                <div class="containerConteudo">
                    <div class="iconArrow">
                        <a href="/">
                            <img class="iconArrowLeft" src="../assets/keyboard.svg"/>
                        </a>     
                    </div>


                    <div class="containerResumo">
                        <div class="containerTitle">
                            <h1 class="titleTypeContainer">Resumo</h1>
                        </div>
                        <div class="containerTextResumo">
                            <div class="legendResumoContainer">
                                <p class="legendResumo">1x  ........  X burguer Tudo  .........  R$ 18,00</p>
                                <p class="legendResumo">1x  ........  X burguer Tudo  .........  R$ 18,00</p>
                                <p class="legendResumo">1x  ........  X burguer Tudo  .........  R$ 18,00</p>
                                <p class="legendResumo">1x  ........  X burguer Tudo  .........  R$ 18,00</p>
                            </div>

                            <div class="totalPedido">
                                <h1 class="titleValor">Valor total</h1>
                                <h3 class="valorCompra">R$ 50,00</h3>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="containerTipoPagamento">
                        <div class="containerTitle">
                            <h1 class="titleTypeContainer">Tipo de pagamento</h1>
                        </div>
                        <div class="chekPagamento">
                            <div class="pagCredito">
                                <input type="radio" class="typePagament" name="Pagamento" value="Crédito">
                                <labe>Crédito</labe>
                            </div>
                            <div class="pagDébito">
                                <input type="radio" class="typePagament" name="Pagamento" value="Débito">
                                <labe>Débito</labe>
                            </div>
                            <div class="pagDinheiro">
                                <input type="radio" class="typePagament" name="Pagamento" value="Dinheiro">
                                <labe>Dinheiro</labe>
                            </div>
                        </div>
                    </div>
                    <div class="containerReciboPedido">
                        <div class="containerTitle">
                            <h1 class="titleTypeContainer">Receber o pedido</h1>
                        </div>
                        <div class="checkPedido">
                            <div class="pagDinheiro">
                                <input type="radio" class="typePagament" name="Entrega" value="Dinheiro">
                                <labe>Em casa</labe>
                            </div>
                            <div class="pagDinheiro">
                                <input type="radio" class="typePagament" name="Entrega" value="Dinheiro">
                                <labe>No estabelecimento</labe>
                            </div>
                        </div>
                        <button class="buttonSubmit">Finalizar</button>
                    </div>
                </div>
            </div>