.containerLogin {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/fundoplano1.png")
}

.headerPage {
    width: 100vw;
    height: 12vh;
    background-color: #F16262;
    display: flex;
    align-items: center;
}

.containerLogo {
    width: 20vw;
    height: 10vh;
    border: solid 1px #FFF;
    border-radius: 10px;
    margin: 10px;
    /* background-color: aqua; */

}

.containerNavButton {
    width: 60vw;
    height: 10vh;
    /* background-color: aquamarine; */

}

.containerAction {
    width: 20vw;
    height: 10vh;
    /* background-color: beige; */

}

.containerPage {
    width: 100vw;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerConteudo {
    background-color: #F6F6F6;
    width: 70vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconArrow {
    width: 100%;
}

.iconArrowLeft {
    width: 7%;
}

.containerResumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    /* background-color: lightpink; */
}

.containerTextResumo {
    width: 90%;
    height: 65%;
    margin-top: 20px;
    border: solid 2px #F16262;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.totalPedido {
    width: 40%;
    height: 100%;
    background-color: #F16262;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.containerTipoPagamento {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: lightsalmon; */
}

.chekPagamento {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.checkPedido {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.typePagament {
    width: 15px;
    height: 15px;
}

.titleTypeContainer {
    font-size: 2.2rem;
    font-family: 'Sansita', sans-serif;
    color: #FFF;
}

.containerTitle {
    width: 100%;
    height: 25%;
    background-color: #F16262;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerReciboPedido {
    width: 100%;
    height: 35%;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttonSubmit {
    background-color: #F16262;
    width: 15%;
    height: 20%;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    font-size: 2.2rem;
    font-family: 'Sansita', sans-serif;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legendResumoContainer {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legendResumo {
    font: 400 1.4rem 'Ubuntu', sans-serif;
}

.titleValor {
    font: 700 3.4rem 'Sansita', sans-serif;
    color: #FFF;
}

.valorCompra {
    font: 400 2.4rem 'Ubuntu', sans-serif;
    color: #FFF
}