<html>
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/CSS" href="styles.css"/>
        <link rel="stylesheet" type="text/CSS" href="../styles/global.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="containerCadastro">
            <header class="headerPage">
                <div class="containerLogo">
                    
                </div>
                <div class="containerNavButton">

                </div>
                <div class="containerAction">

                </div>
            </header>
            <div class="containerPage">
                <div class="containerConteudo">
                    <div class="iconArrow">
                        <a href="/">
                            <img class="iconArrowLeft" src="../assets/keyboard.svg"/>
                        </a>     
                    </div>
                    <div class="inputCadastroClient">
                        <h1 class="titlePage">Cadastro Rápido</h1>
                        <input class="TextInput" required placeholder="E-mail" type="text"/>
                        <input class="TextInput" required placeholder="Senha" type="password"/>
                        <input class="TextInput" required placeholder="Nome Completo" type="text"/>
                        <input class="TextInput" required placeholder="Cidade" type="text"/>
                        <input class="TextInput" required placeholder="Rua" type="text"/>
                    </div>
                    <div class="InputEndereco">
                        <input class="TextInputNum" required placeholder="Número" type="number"/>
                        <input class="TextInputBairro" required placeholder="Bairro" type="text"/>
                    </div>
                    <div class="buttonLink">
                        <div class="containerButtonCancel">
                            <button class="buttonSubmitCancel">Cancelar</button>
                        </div>
                        <div class="containerButtonCad">
                            <button class="buttonSubmit">Cadastrar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </body>
</html>