<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../scripts/conexao.js"></script>
        <link rel="stylesheet" href="styleMenu.css">
        <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <div id="top">
                <div id="logo"><a href="#"></div></a>

                <div class="opcoes"><a href="#">Carne</a></div>
                
                <div class="opcoes"><a href="#">Frango</a></div>
                
                <div class="opcoes"><a href="#">Porções</a></div>
                
                <div class="opcoes"><a href="#">Monte já o Seu!</a></div>

                <div id="carrinho"><a href="#">Meu Carrinho</a></div>
            </div>
            <div id="background">
                <div id="screen">

                </div> 
            </div>
        </div>
    </body>
</html>