<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" type="text/CSS" href="home.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/CSS" href="../styles/global.css"/>
        <title>Lanchonete</title>

    </head>


    <body>
        <div class="contHome">

                <div id="top">
                    <div class="logoHeader"><img src="../assets/logo02.png" id="imagemLogo2"></div>

                    <div class="sobre"><a href="../sobre/sobre.html">Sobre</a></div>

                </div>
            <div class="contFilho">

                <div class="contFilho2">
                    
                    <div class="logo"><img src="../assets/logo1.png" id="imagemLogo"></div>
                    
                    <div class="esp1"></div>
                    
                    <div class="fantasia"><h1 class="legendLogo">
                        
                        Hamburgueria
                        <br>
                        &
                        <br> 
                        Porções
                    </h1>
                    <button class="button" type="button" onclick="window.location.href='../menu/menu.html'">Acessar Cardápio</button>
                </div>
                        
                    
                    <div class="esp2"></div>
                    
                    <div class="desc">
                        <p class="legendAtendimento">

                            Atendimento das 19:00 às 02:00 <br>
                            Entrega das 19:00 às 23:00</div>
                            
                        </p>
                </div>


            </div>
        </div>
            <!--<footer>APS4</footer> -->
    
    </body>
</html>
